<div class="container-fluid pt-4">
    <div class="row">
        <div class="col-sm">
            <app-card
                [title]="'Restaurantes a serem visitados'"
                [lista]="lista_restaurante"
                [action]="abrirFormRestaurante"
            ></app-card>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <p>Agenda</p>
                </div>
                <div class="card-body">
                    <bs-datepicker-inline
                        bsDaterangepicker
                        [dateCustomClasses]="dias_selecionados"
                    ></bs-datepicker-inline>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <app-card-grafico
                [previsto]="valor_previsto"
                [gasto]="valor_gasto"
            ></app-card-grafico>
        </div>
    </div>
</div>

<app-form-restaurante #formRestauranteModal></app-form-restaurante>
