<section id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <!-- page loader -->
    <ng-container #paginaLoader>
        <app-pagina-carregar></app-pagina-carregar>
    </ng-container>
    <!-- /page loader -->

    <!-- Section: home video -->
    <ng-container #video>
        <app-video></app-video>
    </ng-container>

    <!-- /Section: intro -->


    <!-- Navigation -->
    <ng-container #menu>
        <app-menu-inicial></app-menu-inicial>
    </ng-container>

    <!-- /Navigation -->

    <!-- Section: services -->
    <ng-container #servicos>
        <app-servicos></app-servicos>
    </ng-container>
    <!-- /Section: services -->


    <!-- Section: parallax 1 -->
    <section id="parallax1" class="home-section parallax text-light" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2 class="big-heading highlight-dark wow bounceInDown" data-wow-delay="0.2s">We start from
                            pixel perfect
                            pattern</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: trips   -->
    <ng-container>
        <app-viagens #viagens></app-viagens>
    </ng-container>


    <!-- Section: parallax 2 -->
    <section id="parallax2" class="home-section parallax text-light" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2 class="big-heading highlight-dark wow bounceInDown" data-wow-delay="0.2s">We start from
                            pixel perfect
                            pattern</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: about -->
    <section id="about" class="home-section color-dark bg-white">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
                        <div class="section-heading text-center">
                            <h2 class="h-bold">About</h2>
                            <div class="divider-header"></div>
                            <p>Lorem ipsum dolor sit amet, agam perfecto sensibus usu at duo ut iriure.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.2s">
                            <div class="team-wrapper-overlay">
                                <h5>Keyla Cruse</h5>
                                <p>Graeco voluptua sed ea, malorum quaeque cotidieque per eu, quo id possit
                                    dissentias.</p>
                                <div class="social-icons">
                                    <ul class="team-social">
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="../../assets/pagina_inicial/img/team/1.jpg" alt=""/>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.5s">
                            <div class="team-wrapper-overlay">
                                <h5>Tanya Doe</h5>
                                <p>Graeco voluptua sed ea, malorum quaeque cotidieque per eu, quo id possit
                                    dissentias.</p>
                                <div class="social-icons">
                                    <ul class="team-social">
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="../../assets/pagina_inicial/img/team/2.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.8s">
                            <div class="team-wrapper-overlay">
                                <h5>Heck Steven</h5>
                                <p>Graeco voluptua sed ea, malorum quaeque cotidieque per eu, quo id possit
                                    dissentias.</p>
                                <div class="social-icons">
                                    <ul class="team-social">
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="../../assets/pagina_inicial/img/team/3.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="team-wrapper-big wow bounceInUp" data-wow-delay="1s">
                            <div class="team-wrapper-overlay">
                                <h5>Adrian Dawn</h5>
                                <p>Graeco voluptua sed ea, malorum quaeque cotidieque per eu, quo id possit
                                    dissentias.</p>
                                <div class="social-icons">
                                    <ul class="team-social">
                                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="../../assets/pagina_inicial/img/team/4.jpg" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Section: about -->

    <!-- Section: parallax 3 -->
    <section id="parallax3" class="home-section parallax text-light text-center" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2 class="big-heading highlight-dark wow bounceInDown" data-wow-delay="0.2s">We start from
                            pixel perfect
                            pattern</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- google map -->
    <div id="map-btn1-div">
        <a id="map-btn1" class="gmap-btn close-map-button btn-show" href="#map">
            Click here to open the map
        </a>
    </div>
    <a id="map-btn2" class="btn btn-skin btn-lg btn-noradius gmap-btn close-map-button btn-hide" href="#map"
       title="Close google map"
       data-toggle="tooltip" data-placement="top">
        795 Folsom Ave, Suite 600 San Francisco, CA 94107
    </a>

    <!-- google map -->
    <section id="map" class="close-map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452"
            width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>
    <!-- /google map -->
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <div class="text-center">
                    <a href="#intro" class="totop"><i class="pe-7s-angle-up pe-3x"></i></a>

                    <div class="social-widget">


                        <ul class="team-social">
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>

                    </div>
                    <p>&copy;Valera Theme. All Rights Reserved</p>
                    <div class="credits">
                        <!--
                          All the links in the footer should remain intact.
                          You can delete the links only if you purchased the pro version.
                          Licensing information: https://bootstrapmade.com/license/
                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Valera
                        -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
