<!-- Projects Section -->
<section id="service" class="color-dark home-section projects-section  bg-white">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-2">
                <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
                    <div class="section-heading text-center">
                        <h2 class="h-bold">Nossos serviços</h2>
                        <div class="divider-header"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="../../../assets/pagina_inicial/img/servicos/placas.jpg" alt="">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text featured-text-left text-center text-lg-left">
                    <h4>Gerencie</h4>
                    <p class="text-black-50 mb-0">
                        Com o uTravel você consegue planejar e gerenciar a sua viagem dos sonhos, com um sistema moderno de planejamento de viagens e
                         compartilhamento com seus amigos.
                    </p>
                </div>
            </div>
        </div>

        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text featured-text-right text-center text-lg-right">
                    <h4>Escolha</h4>
                    <p class="text-black-50 mb-0">
                        Escolha todos os lugares que ira visitar, restaurantes e meios de transportes que ira utilizar e seus gastos. E coloque-o no uTravel
                        que ele te ajudará a organizar todos os seus gastos, mostrando o seu orçamentos
                    </p>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="../../../assets/pagina_inicial/img/servicos/ilha.jpeg" alt="">
            </div>

        </div>

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="../../../assets/pagina_inicial/img/servicos/pessoa.jpg" alt="">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text featured-text-left text-center text-lg-left">
                    <h4>Aproveite</h4>
                    <p class="text-black-50 mb-0">
                        Depois disso tudo apenas faça sua viagem dos sonhos. E aproveite-a sabendo que você conseguiu organiza-la por completa!
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>

