<!-- Projects Section -->
<section id="projects" class="color-dark home-section projects-section  bg-white">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-2">
                <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
                    <div class="section-heading text-center">
                        <h2 class="h-bold">Viagens mais feitas</h2>
                        <div class="divider-header"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="../../../assets/pagina_inicial/img/viagens/ny.jpg" alt="">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text featured-text-left text-center text-lg-left">
                    <h4>New York, USA</h4>
                </div>
            </div>
        </div>

        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text featured-text-right text-center text-lg-right">
                    <h4>Paris, FR</h4>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="../../../assets/pagina_inicial/img/viagens/paris.jpeg" alt="">
            </div>

        </div>

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="../../../assets/pagina_inicial/img/viagens/toronto.jpeg" alt="">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text featured-text-left text-center text-lg-left">
                    <h4>Toronto, CA</h4>
                </div>
            </div>

        </div>

    </div>
</section>
