/* ===========================
--- Intro - home video
============================ */

.morphext > span {
	display: none;
}

.morphext > .animated {
    display: inline-block;
}

#intro.home-video {
	position: relative;
	margin: 0 auto;
	text-align: center;
	height: 0;
	padding-top: 20%;
	padding-bottom: 30%;
	position: relative;
	overflow: hidden;

}
#intro.home-video .homevideo-container { height: 100%; width: 100%; position: absolute; z-index: 1; background-size: cover; }

#intro.home-video .overlay {
	position: relative;
	height: 100%;
	z-index: 2;
	padding: 20% 0;

}

#intro.home-video .home-video-wrapper {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.bs-video {
	height: 0;
	padding-top: 25px;
	padding-bottom: 67.5%;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}

.bs-video.widescreen {
	padding-bottom: 57.25%;
}

.bs-video.vimeo {
	padding-top: 0;
}

.bs-video embed, .bs-video iframe, .bs-video object, .bs-video video {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.video-caption h1 {
	text-transform: uppercase;
}

/* --- video post format --- */
.bs-video {
	height: 0;
	padding-top: 25px;
	padding-bottom: 67.5%;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}

.bs-video.widescreen {
	padding-bottom: 57.25%;
}

.bs-video.vimeo {
	padding-top: 0;
}

.bs-video embed, .bs-video iframe, .bs-video object, .bs-video video {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

/* ===========================
--- Video bg
============================ */

#section-video {
	margin:0;
	height: 300px;
	background-attachment: fixed !important;
	background-size: cover !important;
	color: #fff;
	position: relative;
	margin: 0 auto;
	text-align: center;
}
#section-video .video-container { height: 100%; width: 100%; position: absolute; z-index: 1; background-size: cover; }

#section-video .overlay {
	position: relative;
	height: 100%;
	z-index: 2;
	padding: 60px 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);
}

/* video icon */
.video-icon {
	margin-top:45px;
}
.video-icon a {
	display: block;
	color: #fff;
}
.video-icon a:focus {
	outline:0;
	color: #fff;
}

.video-icon a:hover{
	color: #fff;
}
.video-icon a i.icon-circled {
	font-size: 40px;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 50%;
	background: rgba(0,0,0,.5);
}

#btn-scroll {
	background-color: #ADD8E6;
}