<div class="card">
    <div class="card-header">
        <p class="d-inline-block col-sm-8 mr-4"> Tarefas</p>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn"><i class="icon-settings"></i> &nbsp;Configurações</a>
        </div>
    </div>
    <div class="card-body">
        <div class="checkbox">
            <label><input type="checkbox" value="">Tarefa 1</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">Tarefa 2</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">Tarefa 3</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">Option 4</label>
        </div>
    </div>
</div>
