<div class="card">
    <div class="card-header">
        <p class="d-inline-block col-sm-8 mr-4">{{title}}</p>
        <div (click)="action()" class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn"><i class="icon-plus"></i> &nbsp;Adicionar</a>
        </div>
    </div>
    <div class="card-body">
        <ul *ngFor="let item of lista">
            <li>{{ item.name }} - <input type="checkbox" value="{{item.id}}"/></li>
        </ul>
    </div>
</div>
