<div class="container-fluid pt-4">
    <div class="row">
        <div class="col-sm">
            <app-card-grafico></app-card-grafico>
        </div>
        <div class="col-sm">
            <app-card-grafico></app-card-grafico>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <app-card-grafico></app-card-grafico>
        </div>
        <div class="col-sm">
            <app-card-grafico></app-card-grafico>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <app-card-grafico></app-card-grafico>
        </div>
    </div>
</div>


