<section id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <!-- page loader -->
    <ng-container #paginaLoader>
        <app-pagina-carregar></app-pagina-carregar>
    </ng-container>
    <!-- /page loader -->

    <!-- Section: home video -->
    <ng-container #video>
        <app-video></app-video>
    </ng-container>

    <!-- /Section: intro -->

    <!-- Section: services -->
    <ng-container #servicos>
        <app-menu-inicial></app-menu-inicial>
        <app-servicos></app-servicos>
    </ng-container>
    <!-- /Section: services -->


    <!-- Section: parallax 1 -->
    <section id="parallax1" class="home-section parallax text-light" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2 class="big-heading highlight-dark wow bounceInDown" data-wow-delay="0.2s">
                            uTravel, o sistema perfeito para você que quer organizar sua viagem
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: trips   -->
    <ng-container>
        <app-viagens #viagens></app-viagens>
    </ng-container>


    <!-- Section: parallax 2 -->
    <section id="parallax2" class="home-section parallax text-light" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2 class="big-heading highlight-dark wow bounceInDown" data-wow-delay="0.2s">
                            Não se limite! Organize sua viagem conosco!
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="cols-12 offset-5 text-center align-content-center">
                <a href="#intro" class="totop"><i class="pe-7s-angle-up pe-3x"></i></a>
                <div class="social-widget">
                    <ul class="team-social">
                        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>

                </div>
                <p>&copy;uTravel. All Rights Reserved</p>
            </div>
        </div>
    </div>

</footer>


